<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Upload Form</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/upload.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<form th:action="@{/review/files}" method="get">
				<button type="Submit" class="loginbtn">List files</button>
			</form>
			<h1>Paper Details</h1>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Title</label>
			</div>
			<div class="col-25">
				<label th:text="${title}"></label>
			</div>
		</div>

		<div class="row">
			<div class="col-25">
				<label>Paper</label>
			</div>
			<div class="col-25">
				<a th:href="@{'/review/files/file/paper/'+${title}}">Download
					paper</a>
			</div>

		</div>
		<div class="row">
			<div class="col-25">
				<label>Abstract</label>
			</div>
			<div class="col-25">
				<a th:href="@{'/review/files/file/abstract/'+${title}}">Download
					abstract</a>
			</div>

			<hr>
			<h1>Review</h1>
			<p>Please fill in this form to make a review</p>
			<form method="post" action="#" th:action="@{/review/upload}"
				enctype="multipart/form-data" th:object="${feedbackUploadModel}">
				<div class="row">
					<div class="col-25">
						<label for="score">Paper score</label>
					</div>
					<div class="col-75">
						<input type="text" id="score" th:field="*{score}"
							placeholder="Enter score (1-100)" />
					</div>
				</div>
				<div class="row">
					<div class="col-25-red">
						<label th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></label>
					</div>
				</div>

				<div class="row">
					<div class="col-25">
						<label for="paper">Feedback File</label>
					</div>
					<div class="col-75">
						<input type="file" id="paper" name="feedbackFile" />
					</div>
				</div>
				<div class="row">
					<div class="col-25-red">
						<label th:if="${#fields.hasErrors('feedbackFile')}"
							th:errors="*{feedbackFile}"></label>
					</div>
				</div>

				<div class="row">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
</body>
</html>