<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>User Control panel</title>
	<meta name="author" content="Mateusz Świerczyński"/>
	<link  rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<link  href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">
	<link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"rel="stylesheet" >
	
</head>
<body >
	<header>
		
		<nav id="topnav">
		
			<ul class="menu">
				<li>
					<form th:action="@{/logout}" method="get">
						<button type="Submit">Logout</button>
					</form>  
				</li>
				<li>
					<form th:action="@{/news}" method="get">
						<button type="Submit">News</button>
					</form>  </li>
				<li>
					<form th:action="@{/schedule}" method="get">
						<button type="Submit">Schedule</button>
					</form>  </li>
				<li>
					<form th:action="@{/user/files}" method="get">
						<button type="Submit">Manage paper</button>
					</form>  </li>
			</ul>
			
		</nav>
	</header>
					
		<footer>
			<div class="info">
			All rights reserved &copy; 2018
			</div>
		</footer>
		
</body>

</html>
