<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Manage Paper</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/upload.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<h2>Manage Papers</h2>
    <p>Below you can find a list of submitted papers</p>
    <form  th:action="@{/user/home}" method="get">
						<button type="Submit">Control Panel</button>
	</form> 
    <hr>
	<div class="container">
		<p>Paper Title</p>
		<ul>
			<li th:each="file : ${files}">
					<a th:href="@{'/user/files/'+${file.title}}" th:text="${file.title}" ></a>
			</li>
		</ul>
	</div>
	
	<form  th:action="@{/user/upload}" method="get">
						<button type="Submit">Upload New File</button>
	</form> 
</body>
</html>
	  	