body {
	background-color: #2a2e32;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=file] {
	
	width: 100%;
	padding: 0px 0px 12px 0px;
	border: none;
	
}

label {
    display: inline-block;
}

input[type=submit] {
	width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: #f2f2f2;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-25-red {
    float: left;
    color: red;
    width: 100%;
    margin-top: 0px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.row{
	padding: 0px 12px 0px 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}