<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Home page</title>
<meta name="author" content="Mateusz Świerczyński" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

</head>
<body>
	<header>

		<nav id="topnav">

			<ul class="menu">
				<li>
					<form th:action="@{/home-scientist}" method="get">
						<button type="Submit">Home</button>
					</form>
				</li>
				<li>
					<form th:action="@{/schedule}" method="get">
						<button type="Submit">Schedule</button>
					</form>
				</li>
				<li>
					<form th:action="@{/user/files}" method="get">
						<button type="Submit">Manage paper</button>
					</form>
				</li>
				<li>
					<form th:action="@{/logout}" method="get">
						<button type="Submit">Logout</button>
					</form>
				</li>
			</ul>

		</nav>
	</header>

	<div>
		<h1>About conference</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.</p>
		<hr>
		<h1>News</h1>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
				do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat.</li>
			<li>Duis aute irure dolor in reprehenderit in voluptate velit
				esse cillum dolore eu fugiat nulla pariatur.</li>
			<li>Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.</li>
		</ul>
	</div>

	<footer>
		<div class="info">All rights reserved &copy; 2018</div>
	</footer>

</body>

</html>
